<?xml version="1.0" encoding="utf-8"?>
<packages>
//Author : Pawel Kusiak
//Name:Packages.config
//Function Name:
//Purpose: Used to maintain the list of packages references by this project including their version and the minimum .net Framework they require.
//Parameters:
//Return Value: 
//Local Variables: 
//Algorithm: 
//Version: 
//Date modified: 
//Assistance Received:
  <package id="Carbon.Data.Protection" version="1.0.0" targetFramework="net461" />
  <package id="Carbon.Json" version="2.1.0" targetFramework="net461" />
  <package id="Carbon.Packaging" version="1.36.0" targetFramework="net461" />
  <package id="Carbon.Storage" version="2.0.0" targetFramework="net461" />
  <package id="Carbon.VersionControl" version="2.0.0" targetFramework="net461" />
  <package id="Carbon.Versioning" version="1.6.0" targetFramework="net461" />
  <package id="ClosedXML" version="0.94.2" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.10.0" targetFramework="net461" />
  <package id="EPPlus" version="4.5.3.3" targetFramework="net461" />
  <package id="ExcelNumberFormat" version="1.0.8" targetFramework="net461" />
  <package id="FastMember" version="1.5.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="3.0.1" targetFramework="net461" />
  <package id="NLog" version="4.6.8" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="17.4.0.47" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="17.4.0.47" targetFramework="net461" />
  <package id="Syncfusion.XlsIO.Wpf" version="17.4.0.47" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net461" />
</packages>